[Unit]
Description=Shipping Service

[Service]
User=robot-shop
Environment=CART_ENDPOINT=cart.step-into-iot.cloud
Environment=DB_HOST=mysql.step-into-iot.cloud
ExecStart=/bin/java -jar /app/shipping.jar
SyslogIdentifier=shipping

[Install]
WantedBy=multi-user.target