[Unit]
Description = User Service
[Service]
User=robot-shop
Environment=MONGO=true
Environment=REDIS_HOST=redis.step-into-iot.cloud
Environment=MONGO_URL="mongodb://mongodb.step-into-iot.cloud:27017/users"
ExecStart=/bin/node /app/server.js
SyslogIdentifier=user

[Install]
WantedBy=multi-user.target